{% extends "_base.html" %}
{% load static %}
{% load hosts %}


{% block content %}
  

<div class="flex justify-center py-8">
    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow md:p-8">
        {% if verified and option == 'signup'%}
            Your account has been successfully verified
            <div class="">
                Please <a href="{% host_url 'login' host 'app' %}"class="font-medium text-blue-700 hover:underline">Login here</a>
            </div>
        {% elif verified and option == 'reset'%}
            The password reset email has been sent to your email.
        {% elif verified and option == 'reseted'%}
            Password has been successfully reset
            
            <div class="text-sm font-medium text-gray-500">
                <a href="{% host_url 'login' host 'app' %}"class="text-blue-700 hover:underline">Login here</a>
            </div>
        {% else %}
            The email has been sent to your email address. Please check your email.
        {% endif %}
    </div>
</div>

{% endblock content %}
