{% extends "_base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
<style>
    .htmx-request.loading-indicator {
        display: block !important;
    }
</style>
<section class="h-full">
    <div class="px-4 py-5">
        <div class="justify-between flex items-center">
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">{% if not event.is_newly_created %}Edit Event{% else %}Create Event{% endif %}</h2>
            {% if not event.is_newly_created %}
                <a href="{% url 'events' %}" class="cursor-pointer inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    Back
                </a>
            {% endif %}
        </div>
        <form action="{% url 'manage_event_detail' event.id %}" method="post">
            {% csrf_token %}
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Event Name</label>
                    <input required type="text" name="name" id="name" value="{% if not event.is_newly_created %}{% if event.title %}{{event.title}}{% endif %}{% endif %}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 required" placeholder="Type event name" required="">
                </div>

                <div class="sm:col-span-2">
                    <label for="venue" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Venue</label>
                    <input required type="text" name="venue" id="venue" value="{% if not event.is_newly_created %}{% if event.venue %}{{event.venue}}{% endif %}{% endif %}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 required" placeholder="Type event venue" required="">
                </div>

                <div class="sm:col-span-2">
                    <label for="venue_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Venue Address</label>
                    <input required type="text" name="venue_address" id="venue_address" value="{% if not event.is_newly_created %}{% if event.venue_address %}{{event.venue_address}}{% endif %}{% endif %}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 required" placeholder="Type event venue address" required="">
                </div>

                <div class="sm:col-span-2">
                    <label for="capacity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Capacity</label>
                    <input required type="number" name="capacity" id="capacity" value="{% if not event.is_newly_created %}{% if event.capacity %}{{event.capacity}}{% endif %}{% endif %}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 required" placeholder="Type event capacity" required="">
                </div>
            </div>
            <div class="mt-2 w-full">
                <div class="mb-5 sm:col-span-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Event Date</label>
                    <div id="date-range-picker" date-rangepicker class="flex items-center">
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                </svg>
                            </div>
                            <input id="datepicker-range-start" value="{% if not event.is_newly_created %}{{event.date_start}}{% endif %}" name="date_start" type="text" class="datepicker-range datepicker-buttons datepicker-autoselect-today bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date start" autocomplete="off">
                        </div>

                        <span class="mx-4 text-gray-500">to</span>

                        <div class="relative w-full">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                </svg>
                            </div>
                            <input autocomplete="off" id="datepicker-range-end" value="{% if not event.is_newly_created %}{{event.date_end}}{% endif %}" name="date_end" type="text" class="datepicker-range datepicker-buttons datepicker-autoselect-today bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date end">
                        </div>
                    </div>
                </div>
                
                <div class="mb-5">
                    <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
                    <select id="status" name="status" placeholder="Select status" class="cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    {% for status in STATUS_CHOICE %}
                    <option {% if event.status == status.0 %}selected{% endif %} value="{{ status.0 }}">{{ status.1 }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="mb-5 sm:col-span-2">
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                    <textarea id="description" name="description" rows="3" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here">{% if event.description %}{{ event.description }}{% endif %}</textarea>
                </div>

                <div class="mb-2">
                    <div class="flex gap-2 items-center justify-between mt-3 mb-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tracks</label>
                        <div role="status" class="mt-5 flex justify-center items-center">
                            <div class="loading-indicator hidden ">
                                <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                                </svg>
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <button type="button" 
                            hx-get="{% url 'add_track' %}" 
                            hx-target="#track-form-container"
                            hx-swap="beforeend"
                            hx-vals='{"event_id": "{{ event.id }}"}'
                            hx-indicator=".loading-indicator"
                            hx-trigger="click{% if event.is_newly_created %}, load{% endif %}"
                            class="cursor-pointer inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-green-600 rounded-lg hover:bg-green-700 focus:ring-4 focus:ring-green-300 dark:focus:ring-green-800">
                                Add
                        </button>
                    </div>
                    <div class="flex gap-2 overflow-y-auto h-40">
                        <div id="track-form-container" class="flex-grow">
                            {% if not event.is_newly_created %}
                                {% if event.tracks.all %}
                                    {% for track in event.tracks.all|dictsort:"order" %}
                                        <div 
                                            hx-get="{% url 'add_track' %}" 
                                            hx-target="this"
                                            hx-swap="beforeend"
                                            hx-trigger="load"
                                            hx-indicator=".loading-indicator"
                                            hx-vals='{"event_id": "{{ event.id }}", "track_id": "{{ track.id }}"}'>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="cursor-pointer inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                {% if not event.is_newly_created %}Update event{% else %}Add event{% endif %}
            </button>
            {% if not event.is_newly_created %}
                <button type="submit" name="delete-event" class="cursor-pointer inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg">
                    Delete event
                </button>
            {% endif %}
            {% include 'app/templates/component/manage-session-drawer.html' %}
        </form>
    </div>
</section>

<script>
    // set the target element of the input field
    document.querySelectorAll('.datepicker-range').forEach(datepickerEl =>{
        new Datepicker(datepickerEl, {
            autohide: true,
            format: 'yyyy-mm-dd'
        });
    }); 
</script>


{% endblock content %}