<div role="status" class="mb-6 w-full p-7 border border-gray-200 rounded shadow animate-pulse md:p-6 dark:border-gray-700">
    <div class="flex gap-6 items-end">
        <div class="h-8 bg-gray-200 rounded w-8 mb-4"></div>
        <div class="h-6 bg-gray-200 rounded grow mb-4"></div>
        <div class="h-6 bg-gray-200 rounded w-20 mb-4"></div>
    </div>
    <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
    <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
    <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
    <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
    <div class="h-2 bg-gray-200 rounded-full mb-4"></div>
    <span class="sr-only">Loading...</span>
</div>