
   <style>
      .htmx-request.loading-drawer {
         display: block !important;
      }
      .htmx-request.session-drawer-content {
         display: none !important;
      }
   </style>

<!-- drawer component -->
<span id="drawer-session-trigger" type="button" data-drawer-target="drawer-create-session-default" data-drawer-show="drawer-create-session-default" aria-controls="drawer-create-session-default">
</span>

<div id="drawer-create-session-default" class="py-20 fixed top-0 left-0 z-40 w-full h-screen max-w-xs p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-label" aria-hidden="true">
    <h5 id="drawer-label" class="inline-flex items-center mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400">Manage Session</h5>
    <div id="session-drawer-content" class="mb-5 overflow-y-auto h-5/6 session-drawer-content">
        <!-- session content will be loaded here -->
    </div>
    <div class="loading-drawer hidden">
        {% include 'app/templates/component/history-skeleton.html' %}
    </div>
    <div class="bottom-0 left-0 flex justify-center w-full pb-4 space-x-4 md:px-4 md:absolute">
        <button id="session-submit-form" 
                hx-post="{% url 'create_and_manage_session' %}"
                hx-target="#session-drawer-content"
                hx-include="#session-form"
                class="text-white w-full justify-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Save Session
        </button>
        <button type="button" data-drawer-dismiss="drawer-create-session-default" aria-controls="drawer-create-session-default" class="inline-flex w-full justify-center text-gray-500 items-center bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
            <svg aria-hidden="true" class="w-5 h-5 -ml-1 sm:mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
            Cancel
        </button>
    </div>
</div>

<script>
    initDrawers();
    document.addEventListener("DOMContentLoaded", function(event) {
        document.getElementById('createProductButton').click();
    });
</script>