<!-- templates/_base.html -->

{% load compress %}
{% load static %}


<html lang="en">

{% include "header.html" %}
{% if not request.user.is_authenticated %}
    {% include "main/templates/component/navbar.html" %}
{% endif %}

<body class="bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
    <div class="container mx-auto">
        <div class="h-full" id="block-container">
            {% block content %}
            {% endblock content %}
        </div>
</body>

{% block footer %}
{% endblock footer %}

</html>