{% load compress %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>

    {% compress css %}
        <link href="{% static 'dist/flowbite.min.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <script> 
        {% include 'js/tailwind.js' %}
    </script>
</head>